 <div class="flex gap-2 px-4 py-2 bg-white/10 backdrop-blur-md border border-white/20 rounded-full shadow-lg shadow-white/5 shadow-inner">
     <%= render partial: "shared/components/navlink", locals: { link: "#", title: "HOME" } %>
     <%= render partial: "shared/components/navlink", locals: { link: "#", title: "COURSES" } %>
     <%= render partial: "shared/components/navlink", locals: { link: "#", title: "LIBRARY" } %>
     <%= render partial: "shared/components/navlink", locals: { link: "#", title: "MENTORS" } %>
     <%= render partial: "shared/components/navlink", locals: { link: "#", title: "SETTINGS" } %>

 </div>