<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "Skillforge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<!--<body class="bg-black min-h-screen flex flex-col"> -->

<body class="bg-black text-white px-4 pt-10 sm:px-6 sm:pt-14 sm:pb-24">
    <main class="flex-1">
        <%= yield %>
    </main>

    <div class="sticky bottom-6 z-50 flex justify-center">
        <%= render partial: "shared/navbar" %>
    </div>
</body>


</html>